## Naive Bayes Classifier for the iris dataset.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"F:\Family\Nandha\DATA CENTRE\Iris.csv")

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df=df.drop(columns=['Id'])

In [5]:
X = df.iloc[:,0:4]
X

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [6]:
y = df.iloc[:,-1]
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train,X_test,y_train,y_test=train_test_split(X, y, test_size=0.30)

In [9]:
from sklearn.naive_bayes import GaussianNB

In [10]:
gnb = GaussianNB()

In [11]:
gnb.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [12]:
y_pred = gnb.predict(X_test)

In [13]:
from sklearn import metrics

In [14]:
print("The accuracy of the model is: {}".format(metrics.accuracy_score(y_test,y_pred)))

The accuracy of the model is: 0.9333333333333333

In [15]:
from sklearn.metrics import classification_report,confusion_matrix

In [16]:
print(confusion_matrix(y_test,y_pred))

[[ 7  0  0]
 [ 0 13  2]
 [ 0  1 22]]

In [17]:
print(classification_report(y_test,y_pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00         7
Iris-versicolor       0.93      0.87      0.90        15
 Iris-virginica       0.92      0.96      0.94        23

       accuracy                           0.93        45
      macro avg       0.95      0.94      0.94        45
   weighted avg       0.93      0.93      0.93        45